@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');

.index-page{
  padding-bottom: 13%;
  background-image: url("https://pbs.twimg.com/media/Ce6nqVLUUAAIULI.png:large");
  background-size: cover;
  background-position:center;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
}

.cardGrid-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90rem;
}

.card-container-index {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 22rem;
  height: 21rem;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.card-container-index:hover {
  box-shadow: 0px 10px 16px #22ef1b;
}

.card-img-index {
  width: 170px;
  height: 135px;
  border-radius: 1rem;
  padding-top: 1rem;
  align-self: center;
  border: 0.5px inset rgba(22, 93, 185, 0.805);
  border-width: 5px;
}

.card-body-index {
  display: flex;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cardStyle h5,
.cardStyle h6 {
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
}

.card-container-index .card-subtitle-index{
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  font-size: 18px;
  color: rgb(0, 0, 0);
  position:sticky;
  padding: 15px;
}

.search-container {
  padding-left: 80%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.search-input {
  border: 2px inset #020202;
  padding: 0.5rem;
  border-radius: 1rem;
  /* margin-left: -150%; */
}


.click-btn-container{
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 5rem;
  background-color: #020202;;
  color: rgb(0, 0, 0);
  border-radius: 1rem;
}

.click-btn {
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  color: rgb(88, 255, 10);
}