/* Deprecated code */

/* .card {
  margin: 4rem 0;
  height: 300px;
} */

/* .card2 {
  margin: 2rem 0;
  height: 100%;
} */


/* .cat-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */