.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  margin: 4rem 0;
  height: 300px;
}

.card2 {
  margin: 2rem 0;
  height: 100%;
}

img {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.cat-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



.footer {
  height: auto;
  width: auto;
  color: yellow;
  position: fixed;
  bottom: 0;
}


